body {
    display: block;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0rem 6rem;
    padding-top: 50px;
    box-sizing: border-box;
    color: #777;
    text-align: center;
}

.Builder-Head-Article {
    text-align: center;
    margin: 20px;
    display: flex;
    gap: 40px;
}

.Builder-Head-Image {
    height: 350px;
    width: 420px;
    padding: 10px;
    margin: 10px;
}

.Builder-Head-Card {
    padding: 40px;
    width: 50%;
}

.Company-Logo-Container {
    text-align: center;
    margin: 20px 20px;
}

.Company-Logo-Container img {
    max-width: 150px;
    margin: 0 10px;
}

.Builder-Cards {
    display: flex;
    margin: 0px 10px;
    gap: 50px;
    text-align: center;

}

.Builder-Head-Button {
    color: black;
    border-color: #ffc85e;
    height: 50px;
    width: auto;
    border-radius: 20px;
    align-items: center;
    border-style: none;
    background-color: #ffc85e;
    margin: 30px;
}

.Builder-Head-Button:hover {
    border-style: dotted;
    border-color: blue;
    border-style: 2px;
}

.Builder-Step-Image {
    width: 190px;
    height: 200px;
    border-radius: 9px;
}

.Builder-Step-Card {
    width: 200px;
    height: 440px;
    border: 0px solid black;
    align-items: center;
    padding: 7px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 9px;
}

.Builder-Step-Button {
    text-align: center;
    height: 20px;
    width: 60px;
    margin-left: 60px;
    padding-bottom: 10px;
    color: aliceblue;
    background-color: rgb(90, 94, 92);
    border-radius: 5px;
}

.Builder-Steps-Button {
    color: black;
    background-color: orange;
    height: 50px;
    width: 170px;
    text-align: center;
    border-radius: 20px;
    border-style: 0px soild orange;
    margin-bottom: 2rem;
    margin-top: 4rem;
    white-space: nowrap;
    background: #ffc85e;
    border-color: #ffc85e;
    color: #07142b;
}

.Builder-Button {
    color: black;
    background-color: orange;
    height: 50px;
    width: 250px;
    text-align: center;
    border-radius: 20px;
    border-style: 0px soild orange;
    margin-bottom: 2rem;
    margin-top: 4rem;
    white-space: nowrap;
    background: #ffc85e;
    border-color: #ffc85e;
    color: #07142b;
}

.Builder-Template-Image {
    height: 250px;
    width: 190px;
}

.Builder-Template-Section {
    height: 250px;
    width: 190px;
    margin: 10px 10px;
    border: 1px soild black;
    box-shadow: 5px 10px 8px #888888;
    border: 0px solid;
    padding: 7px;
    gap: 20px;
    box-shadow: 5px 10px 8px #888888;
    transition: transform .2s;
    /* Animation */
}

.Builder-Template-Section:hover {
    transform: scale(1.2);
}

.Builder-Resume-Card {
    display: flex;
    margin: 20px;
    height: 450px;

}

.Builder-Resume-Section {
    height: 400px;
    width: 250px;
}

.Builder-Resume-Section img {
    height: 300px;
    width: 200px;
}