body {
  display: block;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0rem 6rem;
  padding-top: 50px;
  box-sizing: border-box;
  color: #777;
  text-align: center;
}

.Template-Pages {
  display: block;
  text-align: center;
}

.Template-Page-Button {
  height: 35px;
  width: auto;
  color: black;
  background-color: #d4b30f;
  border-radius: 30px;
  border: none;
  margin: 20px;
}

.Template-Card-Section {
  height: 550px;
  width: 300px;
  padding: 20px;
  transition: transform .2s;
  /* Animation */
  box-shadow: 2px 2px 5px lightblue;
  border-radius: 20px;
  margin-top: 40px;
  padding-top: 6px;

}

.Template-Head-Button {
  color: black;
  border-color: #ffc85e;
  height: 50px;
  width: auto;
  border-radius: 20px;
  align-items: center;
  border-style: none;
  background-color: #ffc85e;
  margin: 30px ;

}

.Template-Head-Button:hover {
  border-style: dotted;
  border-color: blue;
  border-style: 2px;
}
.Template-Section-Hover {
  height: 380px;
  width: 300px;
  gap: 20px;
}

.Template-Card-Section:hover {
  transform: scale(1.1);
}

.Template-Hover-Section {
  display: flex;
  gap: 30px;
}

.Template-Temp-Btn {
  padding: 0.5rem;
  background-color: #040e65;
  width: fit-content;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 27%;
  transition: transform 0.5s ease-in-out;
  display: none;
}
.Template-Button {
  height: 50px;
  width: 200px;
  border-radius: 20px;
  border: none;
  font-size: medium;
  background-color: #d4b30f;
  position: relative;
  text-align: center;
  margin-left: 40%;

}
.Template-Scroll {
  margin-top: 30px;
  padding: 4px;
  color: black;
  background-color: #888888;
  width: 50%;
  height: 700px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
.Template-Section {
  display: flex;
  width: 100%;
  margin: 10px;
  gap: 30px;
}
 
.Template-Copy-Free-Content{
  width: 50%;
}
.Template-Resume-Cards{
  display: flex;
  gap: 30px;
}
.Template-Cards img{
  height: 500px;
  width: 300px;

}
.Template-Resumes img{
  height: 370px;
  width: 250px;

}
.Template-Resumes{
  display: block;
  width: 250px;
  height: 500px;
}

.Template-Head-Article {
  text-align: center;
  margin: 20px;
  display: flex;
  gap: 40px;
}

.Temaplate-Head-Image {
  height: 350px;
  width: 420px;
  padding: 10px;
  margin: 10px;
}

.Template-Head-Card {
  padding: 40px;
  width: 50%;
}